//Setting the font family
$font-stack: Open sans, sans-serif;

//setting color pallette
$primary-color: #002f49;
$secondary-color: #ffcc33;
$third-color: #dde0e3;
$fourth-color: #8B9BA9;
$background-color: #f1f1f1;
$nav-color: #A9B7C0;


//setting standard padding
$container-padding: 95px;
