<header class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img alt="brand" src="img/bb_logo.png"></a>
      <p class="navbar-text">Sales Portal</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ng-click="selectedNav = 'home'">
        <a ng-class="{'active': selectedNav === 'home'}" href="#/">
          <i class="fa fa-home" aria-hidden="true"></i>
          <p>Home</p>
        </a>
      </li>
      <li ng-click="selectedNav = 'customer'">
        <a ng-class="{'active': selectedNav === 'customer'}" href="#/locations">
          <i class="fa fa-user" aria-hidden="true"></i>
          <p>Customer<i class="fa fa-plus-square-o new-customer" aria-hidden="true"></i></p>
        </a>
      </li>
      <li ng-click="selectedNav = 'admin'">
        <a ng-class="{'active': selectedNav === 'admin'}" href="">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <p>Admin</p>
        </a>
      </li>
      <li ng-click="selectedNav = 'admin'">
        <a ng-class="{'active': selectedNav === 'help'}" href="">
          <i class="fa fa-question" aria-hidden="true"></i>
          <p>Help</p>
        </a>
      </li>
    </ul>
  </div>
</header>
