<div id="tab2" class="tab-offer-info" ng-controller="offerController" >
  <div class="offer-info">
    <div class="offer-info-pumpwatch">
      <h2>PumpWatch en toebehoren</h2>
      <table class="offer-info-pumpwatch-table">
        <thead>
          <tr>
            <th>PumpWatch type</th>
            <th>Aantal Analoog</th>
            <th>Aantaal IP</th>
            <th>
              <button ng-show="editing" ng-click="addItem('pumpwatch')" class="btn-bb" ><i class="fa fa-plus-square-o"></i></button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pumpwatch in offer.pw">
            <td>
              <select ng-show="editing" class="form-control bb-select" name="pumpwatch-type" ng-model="pumpwatch.type">
                <option ng-repeat="type in articles" ng-model="pumpwatch.type">{{type}}</option>
              </select>
              <label ng-hide="editing">{{pumpwatch.type}}</label>
            </td>
            <td>
              <input ng-show="editing" class="form-control bb-select" name="quantity-analog" ng-model="pumpwatch.q_analog">
              <label ng-hide="editing">{{pumpwatch.q_analog}}</label>
            </td>
            <td>
              <input ng-show="editing" class="form-control bb-select" name="quantity-ip" ng-model="pumpwatch.q_ip">
              <label ng-hide="editing">{{pumpwatch.q_ip}}</label>
            </td>
            <td>
              <button ng-show="editing" ng-click="deleteItem(pumpwatch._id, $index, 'pumpwatch')" class="btn-bb" ><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
