<div class="content">
  <div class="customer-info-person">
    <h2>Camera's en toebehoren</h2>
    <div class="customer-info-person-salution form-group">
      <div class="customer-info-person-salution-title">
        <p>Binnen camera's</p>
      </div>
      <div class="customer-info-person-salution-group">
        <label ng-hide="editing" for="">{{document.insidecameras}}</label>
        <input ng-show="editing" ng-model="document.insidecameras"class="form-control" for="" type="text">
      </div>
    </div>
    <div class="customer-info-person-lastname form-group">
      <div class="customer-info-person-lastname-title">
        <p>Buiten camera's:</p>
      </div>
      <div class="customer-info-person-lastname-group">
        <label ng-hide="editing" for="surname">{{document.outsidecameras}}</label>
        <input ng-show="editing" ng-model="document.outsidecameras"class="form-control" for="" type="text">
      </div>
    </div>
    <div class="customer-info-person-lastname form-group">
      <div class="customer-info-person-lastname-title">
        <p>Monitoren:</p>
      </div>
      <div class="customer-info-person-lastname-group">
        <label ng-hide="editing" for="surname">{{document.q_monitors}}</label>
        <input ng-show="editing" ng-model="document.q_monitors"class="form-control" for="" type="text">
      </div>
    </div>
  </div>
  <div class="customer-info-person">
    <h2>PumpWatch en toebehoren</h2>
    <div class="customer-info-person-salution form-group">
      <div class="customer-info-person-salution-title">
        <p>PumpWatch</p>
      </div>
      <div class="customer-info-person-salution-group">
        <label ng-hide="editing" for="">{{document.q_pumpwatch}}</label>
        <input ng-show="editing" ng-model="document.q_pumpwatch"class="form-control" for="" type="text">
      </div>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Slimme modules</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme modules')" class="btn-bb"><i class="fa fa-plus-square-o"></i>New</a>
            </th>
          </tr>
        </thead>
        <tfoot>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme modules' }">
                <td>
                  <select ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartModules" ng-model="module.description">{{type}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Slimme producten</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme producten')" class="btn-bb"><i class="fa fa-plus-square-o"></i>New</a>
            </th>
          </tr>
        </thead>
        <tfoot>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme producten' }">
                <td>
                  <select ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartProducts" ng-model="module.description">{{type}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Slimme diensten</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme diensten')" class="btn-bb"><i class="fa fa-plus-square-o"></i>New</a>
            </th>
          </tr>
        </thead>
        <tfoot>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tfoot>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme diensten' }">
                <td>
                  <select ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartServices" ng-model="module.description">{{type}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
