<div class="content content-ohc" ng-controller="pdfCtrl">
  <div class="content-table">
    <button ng-click="makePdf()" class="btn-bb">Generate PDF</button>
    <button ng-click="openModal()" class="btn-bb">Open Modal</button>
    <h2>Camera's en toebehoren</h2>
    <div class="content-block">
      <div class="content-block-title">
        <p>Binnen camera's:</p>
      </div>
      <div class="content-block-input">
        <label ng-hide="editing" for="">{{document.insidecameras}}</label>
        <input ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="document.insidecameras"class="form-control" for="" type="number">
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-title">
        <p>Buiten camera's:</p>
      </div>
      <div class="content-block-input">
        <label ng-hide="editing" for="surname">{{document.outsidecameras}}</label>
        <input ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="document.outsidecameras"class="form-control" for="" type="number">
      </div>
    </div>
    <div class="content-block">
      <div class="content-block-title">
        <p>Monitoren:</p>
      </div>
      <div class="content-block-input">
        <label ng-hide="editing" for="surname">{{document.q_monitors}}</label>
        <input ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="document.q_monitors"class="form-control" for="" type="number">
      </div>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Remote verbinding</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Remote verbinding')" class="btn-bb"><i class="fa fa-plus-square-o"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Remote Verbinding' }">
                <td>
                  <select ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeRemote" ng-model="module.description">{{type.description}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="content-table">
    <h2>PumpWatch en toebehoren</h2>
    <div class="content-block">
      <div class="content-block-title">
        <p>PumpWatch</p>
      </div>
      <div class="content-block-input">
        <label ng-hide="editing" for="">{{document.q_pumpwatch}}</label>
        <input ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="document.q_pumpwatch"class="form-control" for="" type="number">
      </div>
    </div>
    <div class="">
      <table class="" >
        <thead class="">
          <tr>
            <th>Slimme modules</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme modules')" class="btn-bb"><i class="fa fa-plus-square-o"></i></a>
            </th>
          </tr>
        </thead>
        <tbody class="">
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme modules' }">
                <td>
                  <select ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartModules" ng-model="module.description">{{type.description}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                  <label ng-show="never">{{module.ohc_time}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Slimme producten</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme producten')" class="btn-bb"><i class="fa fa-plus-square-o"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme producten' }">
                <td>
                  <select ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartProducts" ng-model="module.description">{{type.description}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="customer-info-person-salution form-group">
      <table class="customer-info-person-salution-title" >
        <thead>
          <tr>
            <th>Slimme diensten</th>
            <th>
              <a ng-show="editing" ng-click="newItem('Slimme diensten')" class="btn-bb"><i class="fa fa-plus-square-o"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in document.services | filter: { category: 'Slimme diensten' }">
                <td>
                  <select ng-change="calcTotalAmountDocument()" ng-show="editing" ng-model="module.description" class="form-control" name="slimme_producten">
                    <option ng-repeat="type in typeSmartServices" ng-model="module.description">{{type.description}}</option>
                  </select>
                  <label ng-hide="editing">{{module.description}}</label>
                </td>
                <td>
                  <a ng-show="editing" ng-click="deleteItem(module._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="content-table">
    <h2>Totaal</h2>
    <p>Totaal onderhoud: € {{document.totalAmount}}</p>
    <p>Voorrijkosten: {{document.travel_costs}}</p>
    <p>Totaal jaarlijks: € {{document.totalYearAmount}}</p>
  </div>
</div>
