<div class="content-title">
  <a href="#/"><i class="fa fa-angle-left arrow-back" aria-hidden="true"></i></a>
  <h2>{{customer.company}} <h3>| {{customer.city}}</h3></h2>
  <button ng-click="deleteLocation(customer._id)" class="btn-bb"><i class="fa fa-trash-o" aria-hidden="true"></i>Verwijder locatie</button>
  <button ng-show="editing" ng-click="editing = false; saveLocation(customer._id, customer)" class="btn-bb new-customer"><i class="fa fa-floppy-o" aria-hidden="true"></i>Bewaar locatie</button>
  <button ng-hide="editing" ng-click="editing = true" class="btn-bb new-customer"><i class="fa fa-pencil" aria-hidden="true"></i>Bewerk locatie</button>
</div>
<div ng-init="selectedTab = 'person'" class="navigation-tabs">
  <div ng-click="selectedTab = 'person'" ng-class="{'active': selectedTab === 'person'}" class="navigation-tabs-tab" data-id="1">
    <p>Gegevens</p>
  </div>
  <div ng-click="selectedTab = 'offer'" ng-class="{'active':selectedTab == 'offer'}" class="navigation-tabs-tab" data-id="2">
    <p>Offerte</p>
  </div>
  <div ng-click="selectedTab = 'ohc'" ng-class="{'active':selectedTab == 'ohc'}" class="navigation-tabs-tab" data-id="3">
    <p>Onderhoud</p>
  </div>
  <div ng-click="selectedTab = 'config'" ng-class="{'active':selectedTab == 'config'}" class="navigation-tabs-tab" data-id="4">
    <p>Inventarisatie</p>
  </div>
</div>
<div ng-include="'partials/' + selectedTab + '.html'" class="container-content">

<!-- include the partials based on the selected tab -->

</div>
