<div class="content-title">
  <h2>Home</h2>
  <button ng-click="newLocation(); editing = true" class="btn-bb"><i class="fa fa-trash-o" aria-hidden="true"></i>Nieuwe locatie</button>
</div>
<div ng-class="{'search-bar-focus': searchFocus === 'active'}" class="search-bar">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input ng-model="search" ng-click="searchFocus = 'active'" ng-blur="searchFocus = 'none'" class="search-bar-input active" placeholder="Zoek voor klanten">
</div>
<div class="content">
  <div ng-repeat="location in locations | filter:search" class="content-customers">
    <div class="content-customers-block">
      <a ng-href="#/locations/{{location._id}}">
      <div class="content-customers-block-icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="content-customers-block-text">
        <p class="content-customers-block-text-name">{{location.company}}</p>
        <p class="content-customers-block-text-city">{{location.city}}</p>
        <div ng-repeat="document in location.documents" class="content-customers-block-text-documents">
          <p>{{document.type}}</p>
        </div>
      </div>
      <div class="content-customers-block-arrow">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      </a>
    </div>
  </div>
</div>
